transformers==4.40.1
numpy==1.26.4
torch==2.3.0
mlx-whisper==0.1.0
git+https://github.com/huggingface/parler-tts.git

translators==5.9.1
levenshtein==0.25.1
nltk==3.8.1
scikit-learn==1.4.2
soundfile==0.12.1